body {
    background-color: palevioletred;
    font-size: 18px;
}

h1 {text-align: center;
text-decoration: underline;
}

.intro {
    background-color: rgb(196, 154, 236);
    color: rgb(67, 62, 71);
}

.first, .second {
    background-color: rgb(114, 42, 182);
    color: white;
}
 h2,.second {
    text-align: center;
    background-color: bisque;
    color: black;
 }